{% import "_includes/forms" as forms %}
{% requireAdmin %}

{% extends "super-filter/_layouts/basesettings" %}

{% set title = "Settings"|t('super-filter') %}
{% set fullPageForm = true  %}
{% set settingsForm = true  %}
{% set selectedSubnavItem = 'settings' %}

{% block actionButton %}

    <div class="buttons">
        <input class="btn submit" type="submit"
               value="{{ 'Save'|t('super-filter') }}">
    </div>

{% endblock %}


{% block content %}
    <script type="text/javascript">
        window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
        window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
    </script>
    <div id="settings-cp">
        <div>
            <input type="hidden" name="action" value="super-filter/super-filter/save-settings-config">

            {{ forms.textField({
                id: 'name',
                label: 'Plugin Name Nav',
                name: 'settings[pluginNameNav]',
                value: settings.pluginNameNav
            }) }}

            {{ forms.textField({
                id: 'prefixParam',
                label: 'Search Prefix Parameter',
                name: 'settings[prefixParam]',
                value: settings.prefixParam
            }) }}

            {{ forms.selectField({
                label: "Category Group"|t('super-filter'),
                name: 'settings[operator]',
                options: [
                    { value: 'and', label: 'And' },
                    { value: 'or', label: 'Or' }
                ],
                value: settings.operator is defined ? settings.operator : null,
                errors: errors['operator'] is defined ? errors['operator'] : null
            }) }}

        </div>
    </div>

{% endblock %}

