<h1>This is sort parent</h1>
<form method="post">
    {{ csrfInput() }}
    {{ actionInput('super-filter/super-filter/filter') }}
        <select v-model='config.params.sort' name="sort">
                {% for item in sorts %}
                        {% set orderAsc = item.orderBy ~ '-asc' %}
                        <option {{ selected == orderAsc ? 'selected' : ''  }} value="{{ orderAsc }}">
                                {{  item.name }} Ascending
                        </option>

                        {% set orderDesc = item.orderBy ~ '-desc' %}
                        <option {{ selected == orderDesc ? 'selected' : ''  }} value="{{ orderDesc }}">
                                {{  item.name }} Descending
                        </option>
                {% endfor %}
        </select>


    {% if options.enableVue %}
        <button @click="submitSort" type="button">Sort</button>
    {% else %}
        <button type="submit">Sort</button>
    {% endif %}
</form>
