<div class="flex-auto bg-white mb-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4" {{ 'v-if="elements"'  }}>
        <div class="p-4 border rounded-lg shadow-sm bg-white" v-for="item in elements.items" :key="item.id">
            <div class="flex flex-col md:flex-row md:items-start">
                <ul>
                    <li>Title: {{ "{{  item.title }}" }}</li>
                    {% for item in items %}
                        <li> {{ item.name }} :
                            {% if item is instance of('craft\\fields\\BaseOptionsField') %}
                                {{ "{{  item."~ item.handle ~ ".label }}" }}
                            {% elseif item is instance of('craft\\fields\\BaseRelationField') %}
                                <template v-if="item.{{ item.handle }}.length"
                                          v-for="(element, index) in item.{{ item.handle }}">
                                    <span v-if="index != 0">, </span><span>{{ "{{ element.title  }}" }}</span>
                                </template>
                            {% else %}
                                {{ "{{  item." ~ item.handle ~ "}}" }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>