
{% if items %}
    <div class="row">
    {% for item in items %}
        <div class="col-sm-12 col-md-6 my-3">
            <div class="row">
                <div class="col-md-12 offset-lg-2"></div>
                <div class="col-md-12 col-lg-5 text-right">
                    {% set image  = item.superFilterAssets != null ? item.superFilterAssets.one() : null %}
                    {# Display the thumbnail list #}

                    {% if image %}
                        <img width="{{ image.width }}" height="{{ image.height }}" src="{{ image.url }}" alt="{{ image.title }}">
                    {% else %}
                        <a href=""><img src="https://via.placeholder.com/182x268.png?text=Image+Placeholder" /></a>
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-7">
                    <h2 class="my-0">{{  item.title }} ({{ item.superFilterReleaseDate }}) | {{ item.superFilterImdbRating }} star</h2>
                    <dl>
                        <dt><strong class="mt-0">Genre:</strong> {{ item.superFilterGenre.select('title').column()|join(', ') }}</dt>
                        <dt><strong>Type:</strong> {{ item.superFilterShowTypes }}</dt>
                    </dl>

                    <div class="description">
                        {{ item.superFilterDescription }}
                    </div>
                    <p><small><strong>Tags:</strong> {{ item.superFilterShowTags.select('title').column()|join(', ') }}</small></p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
