<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ siteName ~ ' Suoer Filter Page' }}</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="m-8">
    <div id="search-app">

        {{ craft.superFilter.setup('superFilterShows') }}
        <div class="row">
            <div class="col-sm-2 col-md-2">
                {{ craft.superFilter.displaySearchFields() }}
            </div>
            <div class="col-sm-10 col-md-10">
                {{ craft.superFilter.displaySortOptions() }}
                {{ craft.superFilter.items() }}

                {{ craft.superFilter.getPaginateLinks() }}
                {{ craft.superFilter.close() }}
            </div>
        </div>
    </div>

</body>
</html>

